
test files/documents/text 1.txt
test files/documents/text 2.txt
test files/documents/text 1.txt
test files/documents/text 3 - same as text 1.txt
test files/image 3 - same as image 2.jpg
test files/images/image 1.webp
test files/images/image 2.jpg
